body {
    background-color: #00000085;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 50px;
  }
  
  li {

  }
  
  #listings-container {
    margin-top: 20px;
  }

  canvas#price-chart {
    max-width: 800px;
    max-height: 400px;
    margin-top: 20px;
  }
  
  
  @font-face {
    font-family: 'Press Start 2P', cursive;
    src: url();
  }